<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tokenizer">

 <listeners>
		<listener class-name="com.LAMBDATEST_Playground.Listeners.Listener"></listener>
	</listeners>
	<test name="Tokenizer">
		<classes>
			<class name="com.LAMBDATEST_Playground.Runner.Runner"></class>
		</classes>

	</test>
</suite> 
